@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 id="plsAnimate"">THIS IS MY HTML SUBMISSION ASSIGNMENT</h1>
    <center>
        <button onclick="myMove()">Click Me</button>
    </center>
</div>

<div id="myAnimation"></div>
