@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 id="plsAnimate" ">THIS IS MY HTML SUBMISSION ASSIGNMENT</h1>]
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/UEoU6VbHs2c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <center>
        <button onclick="myMove()">Click Me</button>
    </center>
</div>

<div id="myAnimation"></div>
